<!doctype html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="art9 - Веб, искусственный интеллект, дизайн и не только.">
    <meta name="Keywords" content="Донецк, Веб, AI, Ml, Сайт, Студия">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="css/style.bundle.css">

    <title>The art of nine</title>
</head>
<body>
<div class="wrapper">

    <div class="header">

        <a href="/"><img height="30" src="../../img/Logo.svg" alt="here is logo"/></a>
        <a href="tel:0714391330" class="header__number">38 071 439 13 30</a>

    </div>

    <div class="main">

        <h1 class="main__hi">Привет.</h1>
        <p class="main__text">Наш сайт находится в разработке. А пока что можешь найти нас в соцсетях или написать на почту.</p>

        <div class="main__links">

            <a target="_blank" rel="noopener" href="https://vk.com/art9.studio"><img src="../../img/vk-social-network-logo.svg" alt="vk__social"/></a>
            <a target="_blank" rel="noopener" href="https://www.instagram.com/art9.studio/"><img src="../../img/instagram.svg" alt="instagram__social"/></a>
            <a target="_blank" rel="noopener" href="https://www.behance.net/artnine"><img src="../../img/behance-logo.svg" alt="behance__social"/></a>
            <a target="_blank" rel="noopener" href="mailto:hi@art9.studio"><img src="../../img/envelope.svg" alt="mail"/></a>

        </div>

    </div>

    <a rel="noopener" href="tel:0714391330" class="call__wrapper"><div class="call">Позвонить</div></a>

</div>


<script src="js/bundle.js"></script>


</body>
</html>
